@font-face {
  font-family: lazer;
  src: url(./fonts/Lazer84.ttf);
}

li{
  font-size: 20px;
  letter-spacing: 3px;
}

body{
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

button,input{
  font-family: lazer;
  letter-spacing: 2px;
}

#multi_fact{
  text-align:center;
}

#facts_display{
  color: white;
}

h1,h2{
  font-family: lazer;
  letter-spacing: 3px;
  text-align:center;
}
h1{
  color:rgba(100, 50, 255, .8);
}
.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;

  /* Standar Syntax */
  animation: rainbow 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}
